<section class="our-webcoderskull padding-lg">
    <div class="container">
      <div class="row heading heading-icon">
          <h2> Ojas Our Team</h2>
      </div>
      <ul class="row">
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;" routerLink="admin">
              <figure><img src="\assets\3.jpg" class="img-responsive" alt=""></figure>
              <h3 >Admin</h3>
            </div>
            
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;" routerLink="manager">
              <figure><img src="\assets\5.jpg" class="img-responsive" alt=""></figure>
              <h3 >Manager </h3>
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;" routerLink="teamlead">
              <figure><img src="\assets\4.jpg" class="img-responsive" alt=""></figure>
              <h3 >Teamlead</h3> 
            </div>
         </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;" routerLink="employee">
              <figure><img src="\assets\1.jpg" class="img-responsive" alt=""></figure>
              <h3 >Employee </h3>
            </div>
        </li>
      </ul>
    </div>
  </section>
